<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>无标题文档</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/pageNav.css" rel="stylesheet" type="text/css">
    <script src="/js/common/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/js/common/pageNav.js" type="text/javascript"></script>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/js/common/autoMapTable.js"></script>
    <script src="/js/tableData/tableData.js"></script>

    <script type="text/javascript">


        $(function () {
            pageNavCallBack(1);
        });


    </script>


</head>

<body>

<div class="container">

    <div class="col">

        <h1 align="center">数据库管理</h1>
    </div>

    <p></p>
    <p></p>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>

    <p></p>
    <p></p>
    <p></p>

    <div class="col">

        <form action="/table/getTableDataPage.do" class="form-inline" id="selectForm" method="post" name="selectForm">

            <label for="tableName">表名:</label>
            <input class="form-control" id="tableName" list="tableNameList" maxlength="20" name="table.tableName"
                   onfocus="searchTableName()" value="user_user"/>
            <datalist id="tableNameList"></datalist>

            <label for="createDate">创建时间:</label>
            <input class="form-control" id="createDate" name="table.createDate" placeholder="createDate"
                   type="createDate"
                   value=""/>

            <label for="createBy">创建用户:</label>
            <input class="form-control" id="createBy" name="table.createBy" placeholder="createBy" value=""/>
            </span>
            &nbsp;&nbsp;
            <label>
                <input class="btn btn-info" name="Submit" onclick="submitTablePage(1,10)" type="button" value="提交"/>
            </label>
            &nbsp;
            <label>
                <input class="btn btn-info" name="reset" type="reset" value="清空"/>
            </label>

        </form>

    </div>


    <p></p>
    <p></p>
    <p></p>

    <div class="col">
        <button class="btn" onclick="getCheckbox()" type="button">查找</button>
        <button class="btn" onclick="deleteBatch()" type="button">删除选中</button>
        <button class="btn" onclick="initTH()" type="button">初始化表头</button>
        <div class="table-responsive">

            <p></p>
            <p></p>
            <p></p>

            <table align="center" class="table table-bordered" id="tableContent">

            </table>
        </div>

        <nav arialabel="page navigation" class="pagenavouter" id="PageNavId"></nav>
    </div>
</div>
</body>
</html>
