<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>无标题文档</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/pageNav.css">
    <script type="text/javascript" src="/js/common/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/common/pageNav.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/js/common/autoMapTable.js"></script>
    <script src="/js/tableData/tableData.js"></script>

    <script type="text/javascript">


        $(function () {
            pageNavCallBack(1);
        });
    </script>


</head>

<body>

<div class="container">

    <div class="col">

        <h1 align="center">数据库管理</h1>
    </div>

    <p></p>
    <p></p>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>

    <p></p>
    <p></p>
    <p></p>

    <div class="col">

        <form id="selectForm" class="form-inline" name="selectForm" method="post" action="/table/getTableDataPage.do">

            <label for="tableName">表名:</label>
            <input id="tableName" name="table.tableName" class="form-control" value="user_user" maxlength="20"
                   onfocus="searchTableName()" list="tableNameList"/>
            <datalist id="tableNameList"></datalist>

            <label for="createDate">创建时间:</label>
            <input type="createDate" id="createDate" class="form-control" name="table.createDate" value=""
                   placeholder="createDate"/>

            <label for="createBy">创建用户:</label>
            <input name="table.createBy" id="createBy" class="form-control" value="" placeholder="createBy"/>
            </span>
            &nbsp;&nbsp;
            <label>
                <input type="button" class="btn btn-info" name="Submit" value="提交" onclick="submitTablePage(1,10)"/>
            </label>
            &nbsp;
            <label>
                <input name="reset" class="btn btn-info" type="reset" value="清空"/>
            </label>

        </form>

    </div>


    <p></p>
    <p></p>
    <p></p>

    <div class="col">
        <button type="button" onclick="getCheckbox()" class="btn">查找</button>
        <button type="button" onclick="deleteBatch()" class="btn">删除选中</button>
        <button type="button" onclick="initTH()" class="btn">初始化表头</button>
        <div class="table-responsive">

            <p></p>
            <p></p>
            <p></p>

            <table align="center" class="table table-bordered" id="tableContent">

            </table>
        </div>

        <nav arialabel="page navigation" class="pagenavouter" id="PageNavId"></nav>
    </div>
</div>
</body>
</html>
